/* reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-family: 'Fredoka One', cursive;
}
main{
    width:95%;
    margin:0 auto;
}
/* formattazione testo */
 .centro{
    text-align: center;
}

span.centro{
    display: inline-block;
    margin-right: 6rem;
    margin-left:5rem;
}
h1.colorato{
   color:rgb(241,94,130);
}




/* dimensionamento colonne */




.row{
    margin-top: 1rem;
}
.colum{
    width:calc((100% / 3) - 20px );
    border:1px solid black;
    float:left;
    margin-right: 10px;  
    margin-bottom:1.3rem;
   background-color: rgb(15, 14,23); 
    color: white;
}
.row::after{
    content:"";
    display: table;
    clear: both;
}

.colum img{

    height:150px;
    float:left;
    padding-right: 0.65rem;
}

.colum span{
    display: inline-block;
}
.colum h3{
    margin-top:0.8rem;
}
.colum span, .colum p{
    margin-top: 1.2rem;
}
